.venv/
venv/
env/

dist/
build/
*.spec

__pycache__/

*.log
debug_log.txt
config.json

.vscode/
.idea/
Thumbs.db
Desktop.ini

pequenobanner.png
rank_bronze.png
preview1.png
preview2.png
preview3.png
rank_silver.png
rank_gold.png
rank_platinum.png
rank_silsver.png
manual_editor.py
requirements.txt
version.py
lmu_rpc.log
build.py
icon.ico
icon.png
cleanup.py
run.bat
assets/