[submodule "pyLMUSharedMemory"]
	path = pyLMUSharedMemory
	url = https://github.com/s-victor/pyLMUSharedMemory.git
[submodule "pyRfactor2SharedMemory"]
	path = pyRfactor2SharedMemory
	url = https://github.com/s-victor/pyRfactor2SharedMemory.git
